body {
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
}

#level-title {
  font-size: 3rem;
  margin:  5% 5% 3%;
  color: #FEF2BF;
}

.display-buttons{
  padding: 15px;
  background-color: black;
  color: #FEF2BF;
  border: 2px solid #FEF2BF;
  border-radius: 7px;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.7rem;
}
.display-buttons:hover {
  background-color: #FEF2BF;
  color: black;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
footer{
  text-align: center;
  margin: 25px;
  font-size: 1rem;
  color: #FEF2BF;
}

/*Instruction modal*/
#myBtn{
  margin-bottom: 17px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #FEF2BF;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #FEF2BF;
  float: right;
  font-size: 35px;
  font-weight: bold;
  padding-top: 10px;
}

.close:hover,
.close:focus {
  color: #011F3F;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #011F3F;
  color: #FEF2BF;
  font-size: 2rem;
}

.modal-body {
  padding: 2px 16px;
font-size: 1.5rem;
color: #011F3F;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
}


@media (max-width:1028px){
  .container {
    display: block;
    width: 100%;
    margin: auto;
  }
  .btn {
    height: 340px;
    width: 340px;
  }
  .display-buttons{
    margin: 3%;
    padding: 40px;
    font-size: 3rem;
  }
  #level-title {
    font-size: 4rem;
    margin:  15% 10% 5%;
  }
  .modal-content {
    width: 80%;
  }
  .modal-header {
    font-size: 2.5rem;
  }
  .modal-body {
  font-size: 2rem;
}
  footer{
    font-size: 2rem;
    margin-top: 120px;
  }

}
